<app-nav></app-nav>
<section>
     <router-outlet></router-outlet>
</section>}
<div class="displayer">
  <div class="userList">
       <table class="table table-hover">
            <thead class="thead-dark">
                 <tr>
                      <th *ngFor="let column of tableHeaders">
                           {{ column }}
                      </th>
                 </tr>
            </thead>
            <tbody>
				<td *ngIf="userCollection.length === 0; else dataBlock">
					<span>There's no data to show! :(</span>
				</td>
				<ng-template #dataBlock>
                 		<tr *ngFor="let rowUser of userCollection; let i = index;">				  
						<td *ngFor="let column of tableHeaders;">
							<img *ngIf="column === 'avatar'; else elseBlock" [ngClass]="returnAvatar(rowUser[column])">
							<ng-template #elseBlock>
							{{ rowUser[column] }}
							</ng-template>
							<span *ngIf="column === 'actions'">
								<a (click)="editUser($event)" class="fa fa-edit" [attr.data-index]="i"></a>
								<a (click)="showRemoveAlert($event)" class="fa fa-user-times" [attr.data-index]="i"></a>
							</span>
						</td>
				  	</tr>
				</ng-template>
            </tbody>
       </table>
  </div>
</div>

<ng-template #myModal let-modal>
    <div class="modal-header">
		<h4 [hidden]="deleteMode" class="modal-title" id="modal-basic-title">User Editation</h4>
		<h4 [hidden]="!deleteMode" class="modal-title" id="modal-basic-title">Removing User</h4>
     	<button #closemodal type="button" class="close" aria-label="Close" (click)="modal.dismiss('cross-click')">
     		<span aria-hidden="true">×</span>
      	</button>
    </div>
    <div class="modal-body">
		<app-users [hidden]="deleteMode" [userToEdit]="selectedUser" #appUsers></app-users>
		<div [hidden]="!deleteMode">
			<p>Are you sure to remove this user?</p>
			<ol class="user-to-delete">
				<li *ngFor="let column of tableHeaders;">
					<span>{{column}}:</span>
					<img *ngIf="column === 'avatar'; else removingAvatar" [ngClass]="returnAvatar(selectedUser[column])">
					<ng-template #removingAvatar>
						{{selectedUser[column]}}
					</ng-template>
				</li>
			</ol>
		</div>
  	</div>
  	<div class="modal-footer">
		<button type="button" class="btn btn-outline-red" (click)="modal.close('cancel')">Cancel</button>
		<button [hidden]="deleteMode" type="button" ngbAutofocus class="btn btn-outline-dark" (click)="updateUser(appUsers.getFormValue(), modal)" autofocus>Edit</button>
		<button [hidden]="!deleteMode" type="button" ngbAutofocus class="btn btn-outline-dark" (click)="removeUser(modal)" autofocus>Remove</button>
  	</div>
</ng-template>
